{% extends 'principal/base.html' %}

{% block content %}
<div class="acerca-de-container">
    <h1>Acerca de mí</h1>
    <p>¡Hola! Mi nombre es <strong>Gastón Acosta</strong>, soy estudiante de Coderhouse y este es mi proyecto final.</p>
    <p>Me dedico a la programación frontend y backend, creando programas para Windows, aplicaciones para navegadores, y actualmente estoy aprendiendo a desarrollar aplicaciones móviles.</p>
    <p>Este proyecto, <strong>InstaGarage</strong>, es una página dedicada a la venta de vehículos usados. Aquí, los usuarios pueden crear una cuenta, publicar sus propios vehículos para vender, y también tienen la posibilidad de modificar o eliminar esas publicaciones.</p>
    <p>La idea detrás de InstaGarage es proporcionar una plataforma sencilla y accesible para que cualquier persona pueda vender su vehículo de manera eficiente y segura. El proceso es intuitivo y permite a los usuarios gestionar completamente sus publicaciones.</p>
    <p>Espero que disfrutes utilizando InstaGarage tanto como yo disfruté creándolo. ¡Gracias por visitar!</p>
</div>
{% endblock %}
