<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InstaGarage{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'principal/css/estilos.css' %}">
</head>

<body>
    <header>
        <nav id="main-nav">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'acerca_de' %}">Acerca de</a>
            {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}">Perfil</a>
                <a href="{% url 'editar_perfil' %}">Editar Perfil</a>
                <a href="{% url 'crear_publicacion' %}">Crear Publicación</a>
                {% if user.perfil.estado == 'owner' %}
                    <a href="{% url 'gestionar_usuarios' %}">Admin Panel</a>
                {% endif %}
                <a href="{% url 'logout' %}">Desloguear</a>
                <span>Bienvenido, {{ user.username }}!</span>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'registrar' %}">Registrar</a>
            {% endif %}
        </nav>
    </header>
    

    <main>
        {% if request.path == '/' %}
        <div class="titulo-seccion">
            <h1>Publicaciones Disponibles</h1>
            <div class="ordenar-opciones">
                <a href="?orden=precio">Ordenar por Precio</a> |
                <a href="?orden=alfabeto">Ordenar por Alfabeto</a> |
                <a href="?orden=fecha">Ordenar por Fecha de Creación</a>
            </div>
        </div>
        <div class="publicaciones-container">
            {% for publicacion in page_obj %}
            <div class="card">
                <a href="{% url 'detalle_publicacion' publicacion.pk %}">
                    <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                    <h3>{{ publicacion.titulo }}</h3>
                    <p>Precio: ${{ publicacion.precio }}</p>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Paginación -->
        <div class="paginacion">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </div>
        {% endif %}

        {% block content %}
        <!-- Aquí se incluirá el contenido de cada página específica -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 InstaGarage. Todos los derechos reservados.</p>
    </footer>

</body>

</html>
