{% extends 'principal/base.html' %}

{% block title %}Mi Perfil{% endblock %}

{% block content %}
<div class="perfil-container">
    <div class="perfil-header">
        <img src="{{ user.perfil.avatar.url }}" alt="Foto de perfil" class="foto-perfil">
        <h2>{{ user.username }}</h2>
    </div>

    <div class="perfil-bio">

        <p>Bienvenido a tu perfil de InstaGarage.</p>
    </div>

    <h3>Mis Publicaciones</h3>
    <div class="publicaciones-container">
        {% for publicacion in publicaciones %}
            <div class="card">
                <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                <div class="card-info">
                    <h3>{{ publicacion.titulo }}</h3>
                    <p>{{ publicacion.descripcion_corta }}</p>
                    <p class="precio">Precio: ${{ publicacion.precio }}</p>
                    <div class="card-buttons">
                        <a href="{% url 'detalle_publicacion' publicacion.pk %}" class="btn-view">Ver más</a>
                        <a href="{% url 'editar_publicacion' publicacion.pk %}" class="btn-edit">Editar</a>
                        <a href="{% url 'eliminar_publicacion' publicacion.pk %}" class="btn-delete">Eliminar</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="no-publicaciones">No has creado ninguna publicación.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
