{% extends 'principal/base.html' %}

{% block content %}
<h2>Publicaciones de {{ usuario.username }}</h2>
<div class="publicaciones-container">
    {% for publicacion in publicaciones %}
        <div class="card">
            <a href="{% url 'detalle_publicacion' publicacion.pk %}">
                <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                <h3>{{ publicacion.titulo }}</h3>
                <p>Precio: ${{ publicacion.precio }}</p>
            </a>
        </div>
    {% empty %}
        <p>Este usuario no tiene publicaciones.</p>
    {% endfor %}
</div>
{% endblock %}
